#header {
    text-align: center;
}

#header h1{
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 0.001em;
}

#header h4{
    color:grey;
    font-family: Helvetica;
    font-size: .5em;
    padding-bottom: 38px;
}

#hr{
    overflow:hidden;
    width: 65%;
    margin: auto;
    padding-bottom: 38px;

}

#header h2{
    color:grey;
    font-family: Helvetica;
    font-size: .75em;
    padding-bottom: 14px;
}

#header h2 strong{
    color:black;
}

.images{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.rectangle{
    height: 75px;
    width: 150px;
    background-color: darkgreen;
    justify-content: center;
    grid-area: rectangle;
}


#container{
    display: flex;
    justify-content: space-around;
}

