.header {
    text-align: center;
}

.header h1{
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 0.001em;
}

.header h4{
    color:grey;
    font-family: Helvetica;
    font-size: .5em;
    padding-bottom: 38px;
}


.sectionTitle{
    color:grey;
    font-family: Helvetica;
    font-size: .75em;
    padding-top: 38px;
    padding-bottom: 14px;
}


h2 strong{
    color: black;
}


#container{
    display: flex;
    justify-content: space-between;
}

.images{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.rectangle{
    height: 15vh;
    width: 18vw;
    background-color: darkgreen;
    justify-content: center;
}

.features{
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: auto;
    text-align: center;
}
